<p-select [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" [showClear]="true"
    placeholder="Select a Country" class="w-full md:w-56" [virtualScroll]="true" [virtualScrollItemSize]="20"
    [virtualScrollOptions]="{ onScroll: myScrollHandler }" (ngModelChange)="onCountryChange($event)"
    (onFilter)="onCountryFilter($event)">
    <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2">
            <div>{{ selectedOption.name }}</div>
        </div>
    </ng-template>

    <ng-template let-country #item>
        <div class="flex items-center gap-2">
            <div>{{ country.name }}</div>
        </div>
    </ng-template>
</p-select>