<app-header />

<div class="author-container">
        <div class="author-card">
                <div class="author-field"> <span class="label">სახელი:</span> <span class="value">{{
                                userProfile?.name
                                }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">გვარი:</span> <span class="value">{{
                                userProfile?.surname
                                }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">ტელეფონი:</span> <span class="value">{{
                                userProfile?.phoneNumber }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">ელფოსტა:</span> <span class="value">{{
                                userProfile?.email
                                }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">პირადი ნომერი:</span> <span class="value">{{
                                userProfile?.personalNumber }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">დაბადების თარიღი:</span> <span class="value"> {{
                                userProfile?.birthDate | date:'dd.MM.yyyy' }} </span> </div> <p-divider />
                <div class="author-field"> <span class="label">ქვეყანა:</span> <span class="value">{{
                                userProfile?.country
                                }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">ქალაქი:</span> <span class="value">{{
                                userProfile?.city
                                }}</span> </div> <p-divider />
                <div class="author-field"> <span class="label">სქესი:</span> <span class="value">{{ userProfile?.sex
                                }}</span> </div>
        </div>
</div>

<p-table [value]="products" [tableStyle]="{ 'min-width': '40rem' }" *ngIf="products?.length!=0">
        <ng-template #header>
                <tr>
                        <th>სახელი</th>
                        <th>ანოტაცია</th>
                        <th>ტიპი</th>
                        <th>ISBN</th>
                        <th>გამოშვების თარიღი</th>
                        <th>გამომცემლობა</th>
                        <th>გვერდების რაოდენობა</th>
                        <th>მისამართი</th>
                </tr>
        </ng-template>
        <ng-template #body let-product>
                <tr>
                        <td><a [routerLink]="[`/product-profile/${product.id}`]" target="_blank">{{ product.name }}</a></td>
                        <td>{{ product.annotation | slice:0:50 }}
                                <span *ngIf="product?.annotation?.length > 50">...</span>
                        </td>
                        <td>{{ product.product_Type?.name }}</td>
                        <td>{{ product.isbn }}</td>
                        <td>{{ product.release_date | date:'dd/MM/yyyy' }}</td>
                        <td>{{ product.publishing_house?.name }}</td>
                        <td>{{ product.page_quantity }}</td>
                        <td>{{ product.address }}</td>
                </tr>
        </ng-template>
</p-table>

<div class="flex justify-center" *ngIf="products?.length!=0">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]=[this.totalPage] />
</div>