@import "primeicons/primeicons.css";
.product {
    margin-top: 2rem;

    .search-container {
        .select-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
        }
    }
}